-- Test simple pour verifier les utilisateurs
SELECT id, email, nom, prenom, LEFT(mot_de_passe, 20) || '...' as mot_de_passe_debut FROM public.utilisateurs WHERE email IN ('admin@gmail.com', 'client@example.com', 'technicien@example.com', 'rh@example.com') ORDER BY email;
